.app__blog-detail {
  padding: 7rem 21rem;

  h1 {
    font-weight: bold;
    font-size: xx-large;
    padding: 2rem 0;
  }

  img {
    padding-bottom: 2rem;
  }

  p {
    text-align: justify;
    line-height: 1.5rem;
    font-size: larger;
  }

  @media (min-width: 768px) and (max-width: 1280px) {
    padding: 7rem 8.5rem;
  }

  @media (max-width: 767px) {
    padding: 5rem 2rem;
    max-width: 100%;
  }
}

.app__blog-link-container {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;

  a {
    border: 1px solid var(--gray-color);
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--gray-color);

    &:hover {
      background-color: var(--gray-color);
      color: var(--white-color);
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;

    a {
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
}

.app__blog-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: small;
  color: var(--gray-color);
  font-style: italic;

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.app__blog-portable-text {
  p {
    margin-bottom: 1em;
    code {
      display: block;
      padding: 0.5rem;
      background-color: var(--black-color);
      color: var(--white-color);
      border: 1px solid var(--brown-color);
      border-radius: 5px;
      width: 100%;
      white-space: pre-wrap; // Preserve whitespace and wrap lines
      overflow-x: auto; // Enable horizontal scrolling if needed
    }
  }
}

